*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
body{
    background-color: white;
    overflow:
}
.header{
    background-color: rgba(184, 62, 62) ;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.container{
    margin: 0 auto;

}
@media (min-width: 769px){
    .container{
    max-width: 765px;
    }
.header__flexB{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;

    font-size: 40px;
}
.line{
    height: 1px;
    background-color: aliceblue
}
.isnow{
    background-color: rgb(135, 32, 32);
    border-left: none;
    border-right: none;
    }
.headerButton:hover{
    background-color: rgb(209, 77, 77);
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.headerButton{
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bold;
     color: whitesmoke;
    flex-grow: 1;
    text-align: center;
    padding: 30px ;
}
.beforefooter{
    flex-grow: 1;
    margin-bottom: 40px;
}
@media (min-width: 769px)
.headerButton {
    font-size: 23px;
}
.headerButton{
        font-size: 23px;
    }
    .Kartinka{
        margin-top: 5px;
    }
.Kartinka1{
        border-radius: 100px;
    width: 70px;

    margin-left:10px;
    }
.firstClass{
    background: black;
    color: white;
    text-align: center;
    }
.firstClass img{
        padding-bottom: 15px;
    }
.beforefooter{
    flex-grow: 1;
    margin-bottom: 40px;
}
.content {
  color: #A8B1B2;
}
.OurClass{
    font-size: 50px;
    padding: 15px 0px;
    font-weight: bold;
    }
.Deviz{
      font-size:35px;
     font-family: cursive;
    }
